@media (max-width: 677px) {
  .pc {
    display: none;
  }
  .open {
    display: block;
  }
}
@media (min-width: 678px) {
  .open {
    display: none;
  }
  .header {
    display: flex;
  }
}
.main-header {
  position: relative;
}
.main-header-banner {
  width: 100%;
}
.header {
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.headerscroll {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  color: black;
  animation: fadein linear 0.7s;
  z-index: 10000;
  box-shadow: 0 2px 5px 2px rgb(217 208 208);
}
.pc {
  margin-left: 30%;
  margin-top: 20px;
}
.pc ul,
.mobie ul {
  overflow-y: hidden;
  list-style: none;
}
.pc ul li {
  display: inline-block;

  margin-right: 20px;
}
.pc ul li a,
.mobie ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}
.pc ul li a:hover,
.mobie ul li a:hover {
  cursor: pointer;
  border-bottom: 2px solid rgb(233, 109, 109);
}
.header img {
  height: 70px;
  border-radius: 50%;
  margin: 5px;
}
.mobie {
  width: 50%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  transform: translateX(-130%);
  transition: transform linear 0.3s;
  z-index: 10001;
}
.mobie ul {
  float: left;
}
.mobie ul li {
  list-style: none;
  line-height: 30px;
}
.mobie ul li a {
  text-decoration: none;
  color: black;
}
.close {
  margin-left: 20px;
  margin-right: 5px;
  color: #ac9e9e;
  font-size: 20px;
  cursor: pointer;
}
.open {
  float: right;
  font-size: 30px;
  color: #726a6a;
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.open:hover {
  color: #f0e9e9;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.6);
  animation: fadein linear 0.3s;
  z-index: 10001;
}
.opencheck:checked ~ .overlay {
  display: block;
}
.opencheck:checked ~ .mobie {
  transform: translateX(0);
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
